<div class="padre">
    <button routerLink="/panel">Volver a panel</button>
    <h4>MODIFICAR PUBLICACION</h4>
    <form class="form" (ngSubmit)="editPost()" [formGroup]="myForm">
      <div class="user-image">
        <div class="user">
            <h2>Usuario Creador:</h2>
            <select class="selectInput" name="select" formControlName="user">
                <option></option>
                <option value="Nicolas Romano">Nicolas Romano</option>
                <option value="Eduardo Romano">Eduardo Romano</option>
                <option value="Vercelli Juan Cruz">Vercelli Juan Cruz</option>
              </select>
        </div>
        <div class="image">
            <h2>SUBIR IMAGEN</h2>
            <input class="imageInput form-control" type="file" (change)="uploadImage($event)" formControlName="image">
        </div>
      </div>
      <div class="title-text">
            <h2>TITULO</h2>
            <input class="form-control" type="text" placeholder="Titulo" formControlName="title">
        <div class="text">
            <h2>TEXTO</h2>
        <ckeditor class="editor" formControlName="text" #ckeditor></ckeditor>
      </div>
      </div>
        <button type="submit" mat-raised-button color="primary">Crear Publicacion</button>
        </form>
    </div>