<ngx-spinner class="centrado"
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
>
<p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>
<div class="padre">
    <div class="login">
<h1>INICIAR SESION</h1>

<form class="form" (ngSubmit)="singIn()" [formGroup]="myForm">

    
    <input class="form-control" type="email" placeholder="Email" formControlName="email">

    <input class="form-control" type="password" placeholder="Contraseña" formControlName="password">

<button type="submit" mat-raised-button color="primary">Iniciar Sesion</button>

</form>
</div>

</div>