<footer>
    <div class="direccion">
        <div class="col-md-6">
            <a title="agnenicarrazcoabogados@gmail.com" class="mail" href="mailto:agnenicarrazcoabogados@gmail.com"><span>agnenicarrazcoabogados@gmail.com</span></a>
        </div>
        <div class="col-md-6">
            <a title="Facebook" href="https://www.facebook.com/agnenicarrazcoabogados/" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a title="Instagram" href="https://instagram.com/agneni_carrazcoabogados" target="_blank"> <i class="fab fa-instagram"></i></a>
            <a title="Linkedin" href="https://www.linkedin.com/company/agneni-carrazco-abogados/" target="_blank"> <i class="fab fa-linkedin-in"></i></a>
            <a title="WhatsApp" href="https://api.whatsapp.com/send?phone=549261" target="_blank"><i
					class="fab fa-whatsapp"></i></a>
        </div>
    </div>
</footer>
