.padre {
    margin: 120px auto 30px auto;
    background-color: rgb(39, 39, 39);
    max-width: 1200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

h4 {
    color: rgba(235, 237, 236);
    font-size: 35px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: fit-content;
    border-bottom: 1px solid rgb(221, 223, 230);
    display: inline-block;
    text-align: center;
}
.inner{
    background-color: azure;
}