<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Usuario Creador</th>
        <th scope="col">Titulo</th>
        <th scope="col">Fecha Creacion</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of allposts" >
        <th scope="row">1</th>
        <td>{{post.user}}</td>
        <td>{{post.title}}</td>
        <td>{{post.date}}</td>
        <td> <button  class="editarButtom" (click)="editar(post.id)">Editar</button></td>
        <td> <button class="eliminarButtom" (click)="delete(post.id)">Eliminar</button></td>
        

      </tr>
    </tbody>
  </table>