.padre{
    margin-top: 100px;
    width: 100%;
    background-color: rgb(39, 39, 39);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
}

.titulos {

    color: rgb(214, 214, 214);
}

.table{
    color: rgb(214, 214, 214);
    margin-top: 25px;
}

.editarButtom{
    max-width: 60px;
    background-color: blue;
    text-align: center;
}

.eliminarButtom{

    max-width: 80px;
    background-color: red;
    text-align: center;

}

.panelButtons{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttonPanel{
    width: 20%;
}

h1{
    color: rgba(235, 237, 236);
    font-size: 35px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: fit-content;
    border-bottom: 1px solid rgb(221, 223, 230);
    display: inline-block;
    text-align: center;
    margin: auto;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .pagination button {
    margin: 0 5px;
  }
  
  .pagination button.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }

@media (max-width:670px) {

    .row{
        font-size: 12px;
    }

    .title{
        font-size: 12px;
    }
    .user{
        font-size: 12px;
    }

    button{
        font-size: 12px;
    }

    

}
