<div class="padre">
    <!-- nombres y linea -->
    <div class="home animated fadeIn">
        <h3>AGNENI & CARRAZCO</h3>

        <h2>ABOGADOS</h2>
    </div>

    <div class="contacto">
        <a title="Contacto" class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/contacto']">Contacto</a>
    </div>
    <div class="divPrincipal">

        <div class="hijo">
            <h4>QUIENES SOMOS</h4>
            <span class="texto">Somos un estudio jurídico de la provincia de Mendoza, integrado por profesionales especializados en distintas áreas del derecho, nos caracterizamos por brindar un enfoque integrador, conjugando creatividad, análisis exhaustivo e inteligencia.
                    Para llevar adelante nuestras actividades el Estudio cuenta con cinco abogados. También forman parte de nuestro equipo una escribana y un profesional especializado en el área inmobiliaria.
                    Podes encontrarnos en nuestras sedes ubicadas en la Ciudad de Mendoza y en la Ciudad de Luján de Cuyo.
    </span><br/><br>

        </div>

        <div>
            <h4>PROFESIONALES</h4>
            <span class="texto">Los profesionales que integran nuestro equipo de trabajo son:</span><br>
            <span class="texto">Rodolfo Agneni, abogado.</span><br/>
            <span class="texto">Monica Carrazco, abogada y mediadora.</span><br/>
            <span class="texto">Miriam Gallardo, abogada.</span><br/>
            <span class="texto">Alejandra Maradona, abogada.</span><br/>
            <span class="texto">Juan Cruz Vercelli, abogado.</span><br/>
            <span class="texto">Leonardo Ponce, corredor público inmobiliario y martillero.</span><br/>

            <br/>
            <h4>NUESTRO SERVICIO</h4>
            <span class="texto">Ofrecemos asesoramiento personalizado, orientado a satisfacer las necesidades de cada cliente en forma ágil y eficiente. 
        Brindamos asistencia jurídica en litigios civiles, comerciales, laborales y administrativos y complementariamente ofrecemos los servicios de medicación, conciliación y negociación para arribar a una solución alternativa de los conflictos.
        
        </span><br/><br>

        </div>

    </div>
</div>