<div class="padre">

    <h1>PUBLICACIONES</h1>
    
        <div class="cards">
          <div *ngFor="let post of allposts" class="card" routerLink="/publicacion/{{post.id}}">
            <img src="{{post.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{post.title}}</h5>
              <div class="etiqueta">
              <p class="card-text">{{post.user}}</p>
              <p class="card-text"><small class="text-muted">{{post.date}}</small></p>
            </div>
            </div>
          </div>
        
</div>





