<ngx-spinner class="centrado"
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
>
<p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>

<div class="padre">
    <h1>PUBLICACIONES</h1>
    
        <div class="cards">
          <div *ngFor="let post of getCurrentPageItems()" class="card" routerLink="/publicacion/{{post.id}}">
            <img src="{{post.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{post.title}}</h5>
              <div class="etiqueta">
              <p class="card-text">{{post.user}}</p>
              <p class="card-text"><small class="text-muted">{{post.date}}</small></p>
            </div>
            </div>
          </div>  
          

</div>
<div class="pagination">
  <button class="btn btn-secondary" [disabled]="currentPage == 1" (click)="onPrev()">Anterior</button>
  <button class="btn btn-secondary" *ngFor="let page of getPagesToShow()" [class.active]="currentPage == page"
          (click)="goToPage(page)">{{page}}</button>
  <button class="btn btn-secondary" [disabled]="currentPage == totalPages" (click)="onNext()">Siguiente</button>
</div>





